@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,700;1,100;1,200&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background:#727272;
}


h1{
    font-size: 50px;
    text-align: center;
    margin: 20px;
    color: rgb(37, 37, 37);
}

.movie-title-h2{
    padding-top: 15px;
    font-weight: 900;
    font-size: 22px;
    text-align: center;
    color: rgb(37, 37, 37);
}

input[type=text]{
    text-align: center;
    padding: 15px 0;
    width: 15%;
    margin: 10px 0;
    border-radius: 5px;
    color: rgb(37, 37, 37);
    font-size: 18px;
}

#submit{
    padding: 5px 15px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #a8a8a8;
    color: rgb(37, 37, 37);
    font-size: 18px;
}

#submit:hover{
    background: #fff;
    color: #8a8585;
    font-weight: 500;
}

#clear-elements{
    padding: 5px 15px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #a8a8a8;
    color: rgb(37, 37, 37);
    font-size: 18px;
}

#clear-elements:hover{
    background: #fff;
    color: #8a8585;
    font-weight: 500;
}

#movie-search-form{
    text-align: center;
    padding: 20px;

}

#movie-year-p, #movie-type-p{
    font-weight: 500;
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    color: rgb(37, 37, 37);

}

#main-container{
    width: vw;
    display: flex;
    margin-right: 40px;
}

#movie-details-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 50px;
}

.movie-details{
    width: 16%;
    padding-bottom: 25px;
    background-color: #a8a8a8;
    margin-bottom: 60px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    height: 400px;
    width: 80%;
    border-radius: 10px;
    display: block;
    margin-top: 35px;
}